<h1 mat-dialog-title>Withdraw</h1>
<div mat-dialog-content>
    <p><b>Available balance: </b>{{ data.account.availabe | currency:'ZAR ':true:'2.2-4' }}</p>
    <mat-form-field>
        <input matInput name="amount" type="text" placeholder="How much would you like to withdraw?" [(ngModel)]="data.amount"
            required>
        <mat-error>This field is required</mat-error>
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="close()">No Thanks</button>
    <button mat-button [mat-dialog-close]="data.amount" cdkFocusInitial>Proceed</button>
</div>