<!--
    Add error state when the service is down
    OR
    Add No accounts available when the service does not return any accounts

    Additional:
    Add loading state or use global loading indicator on the ts file
-->

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Account Number</th>
            <th scope="col">Account Type</th>
            <th scope="col">Balance</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let bankAccount of accounts">
            <td>{{bankAccount?.accountNumber}}</td>
            <td>{{bankAccount?.accountType | titlecase}}</td>
            <td>{{bankAccount?.balance | currency:'ZAR ':true:'2.2-4'}}</td>
            <td>
                <button type="button" class="btn btn-block-sm" [ngClass]="{'btn-success': bankAccount?.canWithdraw, 'btn-light': !bankAccount?.canWithdraw}"
                    [disabled]="!bankAccount?.canWithdraw" (click)="withdrawCash(bankAccount)">
                    Withdraw
                </button>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <th scope="col" colspan="2">Balance</th>
            <th scope="col" colspan="2">{{balance | currency:'ZAR ':true:'2.2-4'}}</th>
        </tr>
    </tfoot>
</table>
